
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dot-grid {
    background-image: radial-gradient(circle, currentColor 1px, transparent 1px);
    background-size: 30px 30px;
}

.dark .dot-grid {
    color: rgba(255, 255, 255, 0.05);
}

.light .dot-grid {
    color: rgba(0, 0, 0, 0.05);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 166, 81, 0.2) transparent;
}
